.hero-image {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .portfolio-image {
    transition: transform 0.3s ease;
  }
  .portfolio-image:hover {
    transform: scale(1.05);
  }

.btn-fotos i{
    font-size: 20px;
}